h1 {
    color: blue;
    background-color: purple;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: normal;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
    line-height: 1.5;
    box-sizing: border-box;
}