h1 {
    color: blue;
    -webkit-text-stroke-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: normal;
    font-style: italic;
    line-height: 1.5;
    box-sizing: border-box;
}